/* Left column ad */
#content_left {
	width: 530px;
	float: left;
}
	/* Pagination bar at the top and bottom of ads list */
	.pagination_bar {
		background-color: #f7f7f7;
		font-weight: bold;
		margin: 0 0 10px;
		color: #3996ea;
		height: 26px;
	}
		.pagination_bar p {
			float: right;
			padding: 5px;
		}
		.pagination_bar_results {
			float: left;
		}
		.pagination_bar_pages {
			text-align: right;
		}
			.pagination_bar_pages div a {
				display: block;
				height: 26px;
				width: 32px;
			}
				.pagination_bar_pages p {
					float: right;
				}
				.pagination_bar_pages div {
					background-image: url(../images/sprite-ads.png);
					background-repeat: no-repeat;
					background-color: #595b5d;
					float: right;
					width: 32px;
				}
					.pagination_bar_pages div a span {
						display: none;
					}
						.pagination_bar-prev {
							background-position: 0 -33px;
						}
						.pagination_bar-prev:hover {
							background-position: -64px -33px;
						}
						.pagination_bar-next {
							background-position: -32px -33px;
						}
						.pagination_bar-next:hover {
							background-position: -96px -33px;
						}
	/* Item of ads */
	.item_ad-container {
		width: 530px;
	}
		.item_ad-header {
			background: url(../images/sprite-ads.png) 0 -59px no-repeat;
			height: 23px;
		}
			.item-ad-nb {
				text-transform: uppercase;
				padding: 4px 0 0 8px;
				font-weight: bold;
				display: block;
				color: #fff;
			}
		.item_ad-content {
			border-right: 1px solid #d6d6d6;
			border-left: 1px solid #d6d6d6;
			padding: 0 10px 10px;
			margin: 0 0 0 11px;
		}
			.item_ad-content h2 {
				margin: 0;
			}
		.item_ad-footer {
			background: url(../images/sprite-ads.png) 0 -83px no-repeat;
			margin: 0 0 10px;
			height: 26px;
		}
			.item_ad-footer p {
				padding: 6px 0 0 30px;
				height: 26px;
			}
				.item_ad-footer p a {
					text-transform: uppercase;
					text-decoration: none;
					font-weight: bold;
					color: #565656;
				}
				.item_ad-footer p a:hover {
					text-decoration: underline;
				}


/* Right column ad */
#content_right {
	margin: 0 0 0 540px;
	width: 400px;
}
	/* Search block */
	#search_block-container {
		background-color: #f3fbea;
		margin: 0 0 10px 0;
	}
		#search_block-header {
			background: #88db37 url(../images/sprite-ads.png) 0 0 no-repeat;
			height: 31px;
		}
			#search_block-header h2 {
				padding: 4px 0px 0 80px;
				font-weight: normal;
				text-align: center;
				font-size: 1.3em;
				color: #fff;
				margin: 0;
			}
		/* Google map */
		#gmap {
			border: 1px solid #999; 
		}
		#search_block-content {
			padding: 10px;
		}
			#search_block-content .input_text {
				width: 97%;
			}
			#search_block_nb span {
				text-align: center;
				display: block;
				height: 70px;
				float: left;
				width: 33%;
			}
				#search_block_nb span select {
					width: 50px;
				}
			#shelter {
				margin-left: 50px;
			}
			#p_search_button {
				text-align: right;
				padding-bottom: 0;
				margin-top: 10px;
			}




