body {
	margin: 0;
	padding: 0;
	text-align: center; /* IE Bugfix */
	width: 100%;
	color: #565656;
	font-family: Arial, Tahomas, sans-serif;
	font-size:78%;
}

p {
	padding: 0 0 1em 0;
	margin: 0;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}
#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


/* Page container */
#container {
	width: 940px;
	margin: 0 auto;
	text-align: left;
}
	/* Header bar with menu */
	#header {
		height: 68px;
		margin: 5px 0;
		background: #fff url(../images/sprite-layout.png) 0 0 no-repeat;
	}
    #header span {
      display: block;
      width: 250px;
      height: 65px;
      float: left;
    }
  		#header h1 {
  			display: none;
  		}
		#header_menu {
			padding: 44px 0 0 290px;
			list-style: none;
      width: 440px;
			margin: 0;
		}
			#header_menu li {
			  text-align: center;
				display: block;
				float: left;
        width: 33%;
			}
				#header_menu li a {
					padding: 2px 8px;
        }
				#header_menu li a,
        a#header_menu-item-last {
					text-transform: uppercase;
					text-decoration: none;
					font-weight: bold;
					font-size: 1.1em;
					color: #fff;
				}
				#header_menu li a:hover,
        #header_menu li a.selected,
        a#header_menu-item-last:hover,
        a#header_menu-item-last.selected {
					background-color: #113356;
					border-radius: 5px;
					-moz-border-radius: 5px;
					-khtml-border-radius: 5px;
					-webkit-border-radius: 5px;
				}
				#header_menu-item-last {
				  text-align: center;
          float: right;
          width: 205px;
				}
        a#header_menu-item-last:hover,
        a#header_menu-item-last.selected {
          padding: 0 5px;
        }

/* Header bar with signup button */
#headbar {
	background: #f3fbea;
	margin-bottom: 5px;
}


/* Page content */
#content {
	margin-bottom: 10px;
}

/* Footer */
#footer {
	height: 110px;
	background: #eee url(../images/sprite-layout.png) 0 -68px no-repeat;
}
	#footer_lang_switcher {
		margin: 43px 0 0 73px;
		float: left;			
	}
		/* Flags to switch language in the footer */
		#footer_lang_switcher ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}
			#footer_lang_switcher ul li {
				margin: 0 5px 0 0;
				display: block;
				float: left;
			}
				#footer_lang_switcher ul li a span {
					background-image: url(../images/sprite-layout.png);
					background-repeat: no-repeat;
					display: block;
					height: 12px;
					width: 14px;
				}
					#lang_fr {
						background-position: 0 -200px;
					}
					#lang_en {
						background-position: -14px -200px;
					}
					#lang_it {
						background-position: -28px -200px;
					}
					#lang_nd {
						background-position: -42px -200px;
					}
					#lang_de {
						background-position: -56px -200px;
					}
					#lang_br {
						background-position: -70px -200px;
					}
					#lang_es {
						background-position: -84px -200px;
					}
						#footer_lang_switcher ul li a span span {
							display: none;
						}

		/* Links in the footer */
		#footer_links {
			margin: 16px 0 0 0;
		}
			#footer_links ul {
				list-style: none;
				padding: 0;
				margin: 0;
			}
				#footer_links ul li {
					display: inline;
				}
					#footer_links ul li a {
						color: #39b9ea;
					}
					#footer_links ul li a:hover {
						color: #2d8fb4;
					}

		/* Copyright BandBCS */
		#footer_copyright {
			margin: 34px 0 0 0;
		}
			#footer_copyright p {
				margin: 0;
			}

	/* Logo BandBCS */
	#footer_logo_bcs {
		padding: 43px 0 0 22px;
	}
		#footer_logo_bcs a {
			display: block;
			height: 49px;
			width: 41px;
		}
			#footer_logo_bcs a span {
				display: none;
			}
				
				
				