/* Left column homepage */
#content_left {
	width: 630px;
	float: left;
}

	/* Google map */
	#gmap {
		border: 1px solid #999;
		margin: 0 0 10px 0;
	}
	
	/* Block : your favorits */
	#your_favorits-container {
		width: 225px;
		float: left;
	}
		#your_favorits-header {
			background: #fafbfc url(../images/sprite-homepage.png) 0 0 no-repeat;
			height: 51px;
		}
			#your_favorits-header h2 {
				padding: 13px 0 0 60px;
				font-size: 1.3em;
				margin: 0;
			}
		#your_favorits-content {
			border-right: 1px solid #e2e2e2;
			border-left: 1px solid #e2e2e2;
			background-color: #fafbfc;
			padding: 0 15px;
		}
		#your_favorits-footer {
			background: #fafbfc url(../images/sprite-homepage.png) 0 -51px no-repeat;
			height: 11px;
		}
	
	/* Block : our loves */
	#our_loves-container {
		width: 400px;
		margin: 0 0 0 230px;
	}
		#our_loves-header {
			background: #fafbfc url(../images/sprite-homepage.png) -225px 0 no-repeat;
			height: 51px;
		}
			#our_loves-header h2 {
				padding: 13px 0 0 60px;
				font-size: 1.3em;
				margin: 0;
			}
		#our_loves-content {
			border-right: 1px solid #e2e2e2;
			border-left: 1px solid #e2e2e2;
			background-color: #fafbfc;
			padding: 0 15px;
		}
		#our_loves-footer {
			background: #fafbfc url(../images/sprite-homepage.png) -225px -51px no-repeat;
			height: 11px;
		}

/* Right column homepage */
#content_right {
	margin: 0 0 0 640px;
	width: 300px;
}
	/* Search block */
	#search_block-container {
		background-color: #f3fbea;
		margin: 0 0 10px 0;
		height: 404px;
	}
		#search_block-header {
			background: #88db37 url(../images/sprite-layout.png) -228px -178px no-repeat;
			height: 31px;
		}
			#search_block-header h2 {
				padding: 4px 0px 0 80px;
				font-weight: normal;
				text-align: center;
				font-size: 1.3em;
				color: #fff;
				margin: 0;
			}
		#search_block-content {
			padding: 10px;
		}
			#search_block-content .input_text {
				width: 97%;
			}
			#search_block_nb span {
				text-align: center;
				display: block;
				height: 70px;
				float: left;
				width: 33%;
			}
				#search_block_nb span select {
					width: 50px;
				}
			#shelter {
				margin-left: 50px;
			}
			#p_search_button {
				text-align: right;
				padding-bottom: 0;
				margin-top: 10px;
			}
	
	/* Block : promotions */
	#promotions-container {
		width: 301px;
	}
		#promotions-header {
			background: #fafbfc url(../images/sprite-homepage.png) -625px 0 no-repeat;
			height: 51px;
		}
			#promotions-header h2 {
				padding: 13px 0 0 73px;
				font-size: 1.3em;
				margin: 0;
			}
		#promotions-content {
			border-right: 1px solid #e2e2e2;
			border-left: 1px solid #e2e2e2;
			background-color: #fafbfc;
			padding: 0 15px;
		}
		#promotions-footer {
			background: #fafbfc url(../images/sprite-homepage.png) -625px -51px no-repeat;
			height: 11px;
		}




