/* NOTICES */
#info, #success, #warning, #error, #notice, #alert, #validation, #errorExplanation {
  border-top: 2px solid;
	border-bottom: 2px solid;
  margin: 10px 0 30px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
#notice {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url(../images/info.png);
}
#success, #notice {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image: url(../images/success.png);
}
#warning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url(../images/warning.png);
}
#error, #alert, .errorExplanation {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url(../images/error.png);
}
.mandatory {
	margin-right: 3px;
	font-weight: bold;
	color: red;
}


/* HOMEPAGE */
#content_left_homepage {
  width: 630px;
  float: left;
}
#content_right_homepage {
  margin: 0 0 0 640px;
  width: 300px;
}


/* INTERN PAGES */
#content_left {
  width: 530px;
  float: left;
}
#content_right {
  margin: 0 0 0 540px;
  width: 400px;
}


/* MEMBERS PAGES */
#content_member_left {
  width: 630px;
  float: left;
}
#content_member_right {
  margin: 0 0 0 640px;
  width: 300px;
}


/* Google map */
#gmap {
  border: 1px solid #999;
  margin: 0 0 10px 0;
}



/* Block : your favorits */
#your_favorits-container {
  width: 225px;
  float: left;
}
  #your_favorits-header {
    background: #fafbfc url(../images/sprite-homepage.png) 0 0 no-repeat;
    height: 51px;
  }
    #your_favorits-header h2 {
      padding: 13px 0 0 60px;
      font-size: 1.3em;
      margin: 0;
    }
  #your_favorits-content {
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    background-color: #fafbfc;
    padding: 0 15px;
  }
  #your_favorits-footer {
    background: #fafbfc url(../images/sprite-homepage.png) 0 -51px no-repeat;
    height: 11px;
  }

/* Block : our loves */
#our_loves-container {
  width: 400px;
  margin: 0 0 0 230px;
}
  #our_loves-header {
    background: #fafbfc url(../images/sprite-homepage.png) -225px 0 no-repeat;
    height: 51px;
  }
    #our_loves-header h2 {
      padding: 13px 0 0 60px;
      font-size: 1.3em;
      margin: 0;
    }
  #our_loves-content {
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    background-color: #fafbfc;
    padding: 0 15px;
  }
  #our_loves-footer {
    background: #fafbfc url(../images/sprite-homepage.png) -225px -51px no-repeat;
    height: 11px;
  }

/* Block : promotions */
#promotions-container {
  width: 301px;
}
  #promotions-header {
    background: #fafbfc url(../images/sprite-homepage.png) -625px 0 no-repeat;
    height: 51px;
  }
    #promotions-header h2 {
      padding: 13px 0 0 73px;
      font-size: 1.3em;
      margin: 0;
    }
  #promotions-content {
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    background-color: #fafbfc;
    padding: 0 15px;
  }
  #promotions-footer {
    background: #fafbfc url(../images/sprite-homepage.png) -625px -51px no-repeat;
    height: 11px;
  }


/* Search block */
#search_block-container {
  background-color: #f3fbea;
  margin: 0 0 10px 0;
  height: 404px;
}
  #search_block-header {
    background: #88db37 url(../images/sprite-ads.png) 0 0 no-repeat;
    height: 31px;
  }
  #search_block_homepage-header {
    background: #88db37 url(../images/sprite-layout.png) -228px -178px no-repeat;
    height: 31px;
  }
    #search_block-header h2,
    #search_block_homepage-header h2 {
      padding: 4px 0px 0 80px;
      font-weight: normal;
      text-align: center;
      font-size: 1.3em;
      color: #fff;
      margin: 0;
    }
  #search_block-content {
    padding: 10px;
  }
    #search_block-content .input_text {
      width: 97%;
    }
    #search_block_nb span {
      text-align: center;
      display: block;
      height: 70px;
      float: left;
      width: 33%;
    }
      #search_block_nb span select {
        width: 50px;
      }
    #shelter {
      margin-left: 50px;
    }
    #p_search_button {
      text-align: right;
      padding-bottom: 0;
      margin-top: 10px;
    }



/* Item of ads */
.item_ad-container {
  width: 530px;
}
  .item_ad-header {
    background: url(../images/sprite-ads.png) 0 -59px no-repeat;
    height: 23px;
  }
    .item-ad-nb {
      text-transform: uppercase;
      padding: 4px 0 0 8px;
      font-weight: bold;
      display: block;
      color: #fff;
    }
  .item_ad-content {
    border-right: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    padding: 0 10px 10px;
    margin: 0 0 0 11px;
  }
    .item_ad-content h2 {
      margin: 0;
    }
  .item_ad-footer {
    background: url(../images/sprite-ads.png) 0 -83px no-repeat;
    margin: 0 0 10px;
    height: 26px;

  }
    .item_ad-footer p {
      padding: 6px 0 0 30px;
      height: 26px;
    }
      .item_ad-footer p a {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        color: #565656;
      }
      .item_ad-footer p a:hover {
        text-decoration: underline;
      }


/* Paginat
 * ion bar at the top and bottom of ads list */
.pagination_bar {
  background-color: #f7f7f7;
  font-weight: bold;
  margin: 0 0 10px;
  color: #3996ea;
  height: 26px;
}
  .pagination_bar p {
    float: right;
    padding: 5px;
  }
  .pagination_bar_results {
    float: left;
  }
  .pagination_bar_pages {
    text-align: right;
  }
    .pagination_bar_pages div a {
      display: block;
      height: 26px;
      width: 32px;
    }
      .pagination_bar_pages p {
        float: right;
      }
      .pagination_bar_pages div {
        background-image: url(../images/sprite-ads.png);
        background-repeat: no-repeat;
        background-color: #595b5d;
        float: right;
        width: 32px;
      }
        .pagination_bar_pages div a span {
          display: none;
        }
          .pagination_bar-prev {
            background-position: 0 -33px;
          }
          .pagination_bar-prev:hover {
            background-position: -64px -33px;
          }
          .pagination_bar-next {
            background-position: -32px -33px;
          }
          .pagination_bar-next:hover {
            background-position: -96px -33px;
          }

/* HEADBAR LOG IN */
#headbar_log_in {
  height: 22px;
}
  #sign_list {
    list-style: none;
    height: 22px;
    padding: 0;
    margin: 0;
  }
  #sign_list li {
    /*background-color: #89db39;*/
    text-align: center;
    margin: 0 5px 0 0;
    display: block;
    float: right;
  }
  #signin_button {
  }
  #signup_button {
  }
    #signin_button a,
    #signup_button a {
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      color: #fff;
    }
      #signup_button a span {
        background: #f3fbea url(../images/sprite-layout.png) 0 -178px no-repeat;
        padding: 3px 23px 4px 13px;
        display: block;
        width: 79px;
      }
      #signup_button a span:hover {
        background: #f3fbea url(../images/sprite-layout.png) -114px -178px no-repeat;
      }

/* HEADBAR LOGGED */
#headbar_logged {
  height: 70px;
}
  #headbar_logged_left {
    padding: 5px 10px;
    width: 205px;
    float: left;
  }
  #headbar_logged_right {
    margin-left: 230px;
    padding: 5px 0 0;
  }
    ul#headbar_logged_icons {
      background: #f3fbea url(../images/sprite-layout.png) 0 -212px no-repeat;
      list-style: none;
      width: 621px;
      height: 62px;
      padding: 0;
      margin: 0;
    }
      ul#headbar_logged_icons li a {
        text-align: center;
        display: block;
        height: 65px;
        float: left;
      }
        ul#headbar_logged_icons li#news a {
          margin: 0 20px 0 0;
          width: 100px;
        }
        ul#headbar_logged_icons li#resa a {
          margin: 0 30px;
          width: 110px;
        }
        ul#headbar_logged_icons li#email a {
          width: 80px;
        }
        ul#headbar_logged_icons li#coeur a {
          margin: 0 20px 0 40px;
          width: 100px;
        }
        ul#headbar_logged_icons li#profil a {
          width: 90px;
        }
      ul#headbar_logged_icons li a span {
        display: none;
      }
    #sign_out_button {
      float: right;
      margin: 0 5px 0;
    }
      #sign_out_button a {
        background: #f3fbea url(../images/sprite-layout.png) -528px -178px no-repeat;
        display: block;
        width: 22px;
        height: 22px;
      }
      #sign_out_button a:hover {
        background: #f3fbea url(../images/sprite-layout.png) -550px -178px no-repeat;
      }
         #sign_out_button a span {
           display: none;
         }

         
/* GREEN BUTTON EXTENSIBLE */
a.green_button-extensible { 
    display:-moz-inline-box; 
    display:inline-block; 
    margin:0; 
    padding:0; 
    white-space:nowrap; 
    text-align:center; 
    vertical-align:middle; 
    cursor:pointer; 
    border:0; 
    background:none; 
}
a.green_button-extensible span,
a.green_button-extensible span span,
a.green_button-extensible span span span {
  background-image:url(../images/green_button-sprite.png);
}
a.green_button-extensible span { 
    position:relative; 
    float:left; 
    padding:0 0 0 8px; 
    vertical-align:middle;
    background-position: left top; 
} 
a.green_button-extensible span span { 
    padding:0 8px 0 0;
    background-position: right -22px; 
} 
a.green_button-extensible span span span { 
    height:22px; 
    padding:1px 8px 0; 
    line-height:1.5; 
    background-repeat: repeat-x; 
    background-position: left -44px;
} 
 

/* 
 * MEMBER PART
 */
#content_member_left h2 {
  margin: 0 0 15px;
  color: #113356;
}
h3.blue-sky {
  color: #3996ea;
  margin-top: 0;
}
h3.blue-bottom-bar {
  font-size: 1em;
  color: #113356;
  padding: 0 0 0 5px;
  text-transform: uppercase;
  border-bottom: 1px solid #113356;
}
h3.grey-bg {
  font-size: 1em;
  color: #252525;
  padding: 4px 7px;
  background-color: #e5e5e5;
}
a.link-blue-dot {
  color: #3996ea;
  padding-left: 18px;
  background: url(../images/blue-dot.gif) left 2px no-repeat;
}

.p-text_field label {
  float: left;
  width: 200px;
}
.p-radio-type label {
  padding-right: 30px;
}

#submit_go_next_step_button {
  margin: 20px 0;
  float: right;
}
  #submit_go_next_step_button input {
    background-color: #0c3c6c;
    padding: 2px 8px;
    border: none;
    color: #FFF;
  }
#submit_go_next_step {
  background-color: #0c3c6c;
  padding: 3px 10px;
  margin: 20px 0;
  float: right;
}
  #submit_go_next_step a {
    text-decoration: none;
    color: #FFF;
  }
  #submit_go_next_step a:hover {
    text-decoration: underline;
  }

#rooms_list_titles {
  border-bottom: 1px solid #1e4858;
  margin-bottom: 8px;
  font-weight: bold;
  height: 18px;
}
.line_room,
.line_housing_poi {
  border-bottom: 1px solid #d1d1d1;
  min-height: 15px;
  padding: 8px 5px 8px 0;
}
  .col_room_type {
    padding-left: 10px;
    width: 150px;
    float: left;
  }
  .col_room_offers {
    margin-left: 160px;
    width: 150px;
  }
  .line_room .col_room_submit {
    float: right;
  }
    .line_room .col_room_submit a img {
      border: none;
    }
#line_add_room,
#line_add_housing_poi {
  background-color: #b1d5f7;
  padding: 5px;
}
  #line_add_room p,
  #line_add_housing_poi p {
    padding-bottom:3px;
    font-weight: bold;
  }
  #line_add_room .col_room_submit,
  #line_add_housing_poi .col_housing_poi_submit {
    text-align: right;
  }

.add_services_list {
  padding-left: 20px;
}
  .add_services_list li {
    list-style: none;
  }


.destroy_button {
  background: url(../images/icons/delete.png) 0 0 no-repeat;
  cursor: pointer;
  border: none;
  width: 16px;
}
  .destroy_button span {
    display: none;
  }