<div id="headbar_log_in">
  <ul id="sign_list">
    <li id="signup_button">
      <%= link_to '<span>'.html_safe + t("devise.sessions.link") + '</span>'.html_safe, new_client_cuser_session_path, :title => t("devise.sessions.link") %>
    </li>
    <li id="signin_button">
      <%= link_to '<span><span><span>'.html_safe + t("devise.registrations.link") + '</span></span></span>'.html_safe, new_client_cuser_registration_path, :title => t("devise.registrations.link"), :class => "green_button-extensible" %>
    </li>
  </ul>
</div>