<p>Bonjour <%= @resource.email %>!</p>

<p>Vous avez demandé de changer de mot de passe, vous pouvez le faire en cliquant sur le lien ci-dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_client_user_password_url(I18n.locale, @resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si vous n'avez pas demandé de recevoir ce courriel, ignorez-le.</p>
<p>Votre mot de passe ne sera pas changé tant que vous ne cliquez pas sur lien.</p>

