<p>Welcome <%= @resource.email %>!</p>

<p>You can confirm your account through the link below:</p>

<p><%= link_to 'Confirm my account', member_user_confirmation_url(I18n.locale, @resource, :confirmation_token => @resource.confirmation_token) %></p>
