<div class="line_room" id="line_room_<%= @room.id %>">
  <div class="col_room_nb">
    1
  </div>
  <div class="col_room_type">
    <%= @room.room_type %>
  </div>
  <div class="col_room_offers">
    dans col_refreash
  </div>
  <div class="col_submit">
    <%= link_to_remote	t('room.add.destroy'), 
												:update => "rooms_list_#{@room.id}", 
												:url => { :action => 'destroy', :id => @room.id }, 
												:method => 'delete', 
												:confirm => t('are_you_sure') %>
  </div>
</div>
