<p>
  <b>Housing:</b>
  <%=h @housing_picture.housing_id %>
</p>

<p>
  <b>Picture:</b>
  <%=h @housing_picture.picture_id %>
</p>


<%= link_to 'Edit', edit_housing_picture_path(@housing_picture) %> |
<%= link_to 'Back', housing_pictures_path %>