<p>
  <b>Room:</b>
  <%=h @dinningroom.room_id %>
</p>

<p>
  <b>Sofa bed option:</b>
  <%=h @dinningroom.sofa_bed_option %>
</p>


<%= link_to 'Edit', edit_dinningroom_path(@dinningroom) %> |
<%= link_to 'Back', dinningrooms_path %>