<h3 class="blue-bottom-bar"><%= t('member.user.profile.define_offers') %></h3>

<p><strong>Vous souhaitez louer vos chambres d'hôtes ou vos gîtes,</strong> lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas luctus porttitor risus, quis faucibus ligula fringilla ac. In sed odio vitae dui rhoncus consectetur. Etiam bibendum, nulla in accumsan commodo, nisl nunc posuere felis, eget lobortis eros purus nec felis.</p>

<p>
  <%= link_to t('member.housing.add_house'), new_member_housing_path(I18n.locale), :title => t('member.housing.add_house'), :class => 'link-blue-dot'%>
</p>