<div id="headbar_log_in">
  <div id="signup_button">
    <%= link_to '<span>' + t("devise.sessions.link") + '</span>', new_member_user_session_path, :title => t("devise.sessions.link") %>
  </div>
  <%= link_to "Sign up", new_member_user_registration_path %>
</div>