<% title t('member.user.profile.title') %>
<h2><%= t('member.user.profile.title') %></h2>


<%= render :partial => 'your_news' %>

<%= render :partial => 'personal_infos' %>

<%= render :partial => 'define_offers' %>
