<h3 class="grey-bg"><%= t('member.user.profile.validate_reservations') %></h3>


<h3 class="grey-bg"><%= t('member.user.profile.your_emails') %></h3>


<h3 class="grey-bg"><%= t('member.user.profile.your_rent') %></h3>
<% if current_muser.housings %>
  <ul>
    <% current_user.housings.each do |housing| %>
      <li><%= link_to housing.name, member_housing_path(I18n.locale, housing), :title => housing.name %></li>
    <% end %>
  </ul>
<% end %>