<h3 class="grey-bg"><%= t('member.user.profile.validate_reservations') %></h3>
<h3 class="grey-bg"><%= t('member.user.profile.your_emails') %></h3>
<h3 class="grey-bg"><%= t('member.user.profile.your_rent') %></h3>