<div id="content_member_left">
  <% title t('member.user.profile.title') %>
  <h1><%= t('member.user.profile.title') %></h1>

  <%= render :partial => 'member/users/profile' %>
</div>

<div id="content_member_right">
  <%= render :partial => 'member/users/right_column' %>
</div>
